<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Production" connectionString="server=SQL;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add name="Test" connectionString="server=automation2;database=Automation;user=asctracdbo;password=dbo2006"/>
  </connectionStrings>
  <appSettings>
    <add key="SQLConnection" value="server=SQL;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add key="SQLConnectionTest" value="server=localhost;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add key="DownloadFolderTest" value="..\..\TestFiles\Download\"/>
    <add key="InitechUploadFolderTest" value="\\automation\d$\Upload\Initech\Test\"/>
    <add key="EdictUploadFolderTest" value="\\automation\d$\Upload\Test\"/>
    <add key="WorkingFolderTest" value="..\..\TestFiles\Working\"/>
    <add key="DownloadFolder" value="\\automation\d$\Download\Initech\"/>
    <add key="WorkingFolder" value="\\automation\d$\Working\"/>
    <add key="ArchiveFolder" value="\\automation\d$\Upload\Initech\Archive\"/>
    <add key="InitechUploadFolder" value="\\automation\d$\Upload\Initech\"/>
    <add key="EdictUploadFolder" value="\\automation\d$\Upload\"/>
    <add key="InitechDownloadFolder" value="\\automation\d$\Download\Initech\"/>
    <add key="EdictDownloadFolder" value="\\automation\d$\Download\"/>
    <add key="InitechDownloadFolderTest" value="\\automation\d$\Download\Initech\Test\"/>
    <add key="EdictDownloadFolderTest" value="\\automation\d$\Download\Test\"/>
    <add key="TestMode" value="1"/>
    <add key="ElementDelimiter" value="~"></add>
    <add key="SegmentDelimiter" value="\n"></add>
    <add key="InterchangeQualifier" value="ZZ"></add>
    <add key="FunctionGroupReceiverID" value="055001924VA"></add>
    <add key="InitechInterchangeReceiverID" value="055001924VAT"></add>
    <add key="FlexInterchangeReceiverID" value="049691426SAC"></add>
    <add key="EmailServiceHost" value="automationqa"/>
    <add key="EmailServiceEndpoint" value="mt_email_service"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.MicroKernel" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.DynamicProxy2" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="2.1.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="1.1.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
