<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Production" connectionString="server=SQL;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add name="Test" connectionString="server=automation2;database=Automation;user=asctracdbo;password=dbo2006"/>
  </connectionStrings>
  <appSettings>
    <add key="SQLConnection" value="server=SQL;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add key="SQLConnectionTest" value="server=localhost;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add key="EdictDownloadFolderTest" value="\\automation\d$\Download\Test\"/>
    <add key="DownloadFolderTest" value="..\..\TestFiles\Download\"/>
    <add key="InitechUploadFolderTest" value="\\automation\d$\Upload\Initech\Test\"/>
    <add key="FlexUploadFolderTest" value="\\automation\d$\Upload\Test\"/>
     <add key="WorkingFolderTest" value="..\..\TestFiles\Working\"/> 
    <add key="DownloadFolder" value="\\automation\d$\Download\Initech\"/>
    <add key="WorkingFolder" value="\\automation\d$\Working\"/>
    <add key="ArchiveFolder" value="\\automation\d$\Upload\Initech\Archive\" />
    <add key="InitechUploadFolder" value="\\automation\d$\Upload\Initech\"/>
    <add key="FlexUploadFolder" value="\\automation\d$\Upload\"/>
    <add key="TestMode" value="1"/>
    <add key="ElementDelimiter" value="~"></add>
    <add key="SegmentDelimiter" value="\n"></add>
    <add key="InterchangeQualifier" value="ZZ"></add>
    <add key="FunctionGroupReceiverID" value="055001924VA"></add>
    <add key="InterchangeReceiverID" value="055001924VA"></add>

    <add key="EmailServiceHost" value="localhost"/> 
    <add key="EmailServiceEndpoint" value="mt_email_service"/>
  </appSettings>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.4000" newVersion="2.0.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
