<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestMode" value="1"/>
    <add key="SQLConnectionTest" value="server=localhost;database=EDIDocsProcessing;user=asctracdbo;password=dbo2006"/>
    <add key="SQLConnection" value="server=sql;database=EDIDocsProcessing;user=asctracdbo;password=dbo2006"/>
    <add key="DownloadFolderTest" value="\\automation\d$\Download\Fedex\Test\"/>
    <add key="DownloadFolder" value="\\automation\d$\Download\Fedex\"/>
    <add key="UploadFolder" value="\\automation\d$\Upload\Fedex\"/>
    <add key="UploadFolderTest" value="\\automation\d$\Upload\Fedex\Test\"/>
    <add key="WorkingFolder" value="\\automation\d$\Working\"/> 
  </appSettings>
</configuration>