<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Production" connectionString="server=SQL;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add name="Test" connectionString="server=automation2;database=Automation;user=asctracdbo;password=dbo2006"/>
  </connectionStrings>
  <appSettings>
    <add key="SQLConnection" value="server=SQL;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add key="SQLConnectionTest" value="server=automation2;database=Automation;user=asctracdbo;password=dbo2006"/>
    <add key="TestMode" value="1"/> 
    <add key="DownloadFolderTest" value="\\automation\d$\Download\Initech\Test\"/>
    <add key="DownloadFolder" value="\\automation\d$\Download\Initech\"/>
    <add key="UploadFolder" value="\\automation\d$\Upload\Initech\"/>
    <add key="UploadFolderTest" value="\\automation\d$\Upload\Initech\Test\"/>
    <add key="WorkingFolder" value="\\automation\d$\Working\"/>
    <add key="ArchiveFolder" value="\\automation\d$\Upload\Initech\Archive\"/>
    <add key="EmailServiceEndpoint" value="msmq://localhost/mt_email_service"/>
    <add key="InitechDownloadFolder" value="\\automation\d$\Download\Initech\"/>
    <add key="EdictDownloadFolder" value="\\automation\d$\Download\"/>
    <add key="FlexDownloadFolder" value="\\automation\d$\Download\"/>
    <add key="InitechInterchangeReceiverID" value="055001924VAT"></add>
    <add key="FlexInterchangeReceiverID" value="049691426SAC"></add>
    <add key="NtnlInstrumentsDownloadFolder" value="\\automation\d$\Download\"/>
    <add key="EmailServiceHost" value="automation2"/>
    <add key="EmailServiceEndpoint" value="mt_email_service"/>
  </appSettings>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.4000" newVersion="2.0.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
